/*These are homepage styling*/
/*Div class stylings*/
h4{
  margin-top: 10px;
}
.watermoment img{
  width: 100%;
  height: 50%;
  object-fit: contain;
  border-radius: 5px;
  margin-right: 10px;
}
.homepage{
  background-color:#e5e1eb;
  padding: 5px;
}
.aboutOTR{
  position: relative;
  background-color:white;
  border-radius: 10px;
  padding: 18px;
  margin-bottom: 8px;

}
.ourServices{
  position: relative;
  background-color:white;
  border-radius: 10px;
  padding: 18px;
  margin-bottom: 8px;
}
.theFamily{
  position: relative;
  background-color:white;
  border-radius: 10px;
  padding: 18px;
  
}
/*Button stylings*/
.aboutOtrBtn{
  background-color: #9781e8;
  position:absolute;
  right: 15px;
  bottom: 10px;
  border-radius: 5px;
}
.services{
  background-color: #9781e8;
  position:absolute;
  right: 15px;
  bottom: 10px;
  border-radius: 5px;
}
.thefamily{
  background-color: #9781e8;
  position:absolute;
  right: 15px;
  bottom: 10px;
  border-radius: 5px;
}
/************************************************/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
